# Dados IMPECT - não publicar, incluir ou partilhar
dados_impect/
dados/
*.pkl

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ambiente virtual
.venv/
venv/
.env

# Sistema operativo
.DS_Store
Thumbs.db
